 .u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-2 {
  width: 369px;
  height: 729px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-shape-3 {
  width: 761px;
  height: 729px;
  margin: -729px calc(((100% - 1140px) / 2)) 31px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}