<section class="u-clearfix u-section-1" id="sec-f3b7">
      <div class="u-absolute-hcenter u-custom-color-2 u-expanded u-shape u-shape-rectangle"></div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-2">
          <b4><code><b>Исходное описание</b></code></b4>
          <textarea id="text-input1" name="text_im" style="width: 100%; height: 520px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-old-></textarea><br>
      </div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-3">
          <b4><code><b>Сгенерированное описание</b></code></b4>
          <textarea id="text-input2" name="text_im" style="width: 100%; height: 520px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-new-></textarea><br>
      </div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-4"></div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-5"></div>
      <div class="u-radius-10 u-shape u-shape-round u-white u-shape-6"></div>
</section>