<section class="u-clearfix u-section-1" id="sec-f3b7">
      <div class="u-absolute-hcenter u-custom-color-2 u-expanded u-shape u-shape-rectangle"></div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-2" style="padding-left: 10px;margin-bottom: 1px;">
          <b4><code><b>Исходное описание</b></code></b4>
          <textarea id="text-input1" name="text_im" style="width: 98%; height: 523px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-old-></textarea><br>
      </div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-3" style="padding-left: 10px;margin-bottom: 1px;">
          <b4><code><b>Сгенерированное описание</b></code></b4>
          <textarea id="text-input2" name="text_im" style="width: 98%; height: 523px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-new-></textarea><br>
      </div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-4" style="padding-left: 10px;margin-bottom: 1px;">
          <b4><code><b>Сгенерированное описание для туристов</b></code></b4>
          <textarea id="text-input3" name="text_im" style="width: 98%; height: 220px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-tour-></textarea><br>
      </div>
      <div class="u-radius-15 u-shape u-shape-round u-white u-shape-5" style="padding-left: 10px;margin-bottom: 1px;">
          <b4><code><b>Сгенерированное описание для работы</b></code></b4>
          <textarea id="text-input4" name="text_im" style="width: 98%; height: 220px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-work-></textarea><br>
      </div>
      <div class="u-radius-10 u-shape u-shape-round u-white u-shape-6" style="padding-left: 10px;margin-bottom: 1px;">
          <b4><code><b>Гид путишествия</b></code></b4>
          <textarea id="text-input5" name="text_im" style="width: 99%; height: 220px; padding: 10px; border-radius: 15px; margin-bottom: 10px;"><-weather-></textarea><br>
      </div>
</section>